doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Error Page
		<!-- Google font -->
		link(href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet")
		<!-- Custom stlylesheet -->
		link(type="text/css" rel="stylesheet" href="css/err.css")
	body
		div#notfound
			div.notfound
				div.notfound-xxx
					h1 #{errorCode}
				h2 #{errorTitle}
				p お探しのページは、名前が変更されて削除されたか、一時的に利用できなくなった可能性があります。
				a(href="/") Return to homepage